* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #0d0d0d;

  &__container {
    display: flex;
    height: 100%;

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      cursor: pointer;

      img {
        user-select: none;
        width: 20px;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      height: 100%;

      &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 100%;
        cursor: pointer;
        transition: .3s;

        path {
          transition: .3s;
        }
        &:hover {
          background-color: #1f1f1f;
          path {
            fill: #fff !important;
          }
        }
        &.control__restore {
          display: none;
        }
        &.control__close:hover {
          background-color: #FF2929 !important;
        }
      }
    }
  }
}
