* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #0d0d0d;
}

.header__container {
  display: flex;
}

.header__container__logo {
  padding: 5px;
  cursor: pointer;
}

.header__container__logo img {
  user-select: none;
  width: 20px;
}

.header__container__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.header__container__controls__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 35px;
  cursor: pointer;
  transition: .3s;
}
.header__container__controls__control:hover {
  background-color: #282828;
}
.header__container__controls__control.control__close:hover {
  background-color: #FF2929 !important;
}
.header__container__controls__control.control__close:hover line {
  stroke: #fff;
}
.header__container__controls__control svg {
  transition: .3s;
}

.header__container__controls__control:hover svg {
  stroke-color: #fff;
}
